button {
  width: 250px;
  height: 80px;
  font-size: 35px;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 15px;
  margin: 5x;
  cursor: pointer;
  display: block;
}

button:hover {
  background-color: #e64b20;
  transition: 0.5s;
}

.boton-click {
  background-color: #6fd929;
  margin-bottom: 3px;
}

.boton-reiniciar {
  background-color: #f0bd22;
}
